body{
    background-color: blueviolet;
}

#one{

    display:grid;
    grid-template-columns: repeat(3,auto);
    border: 1px solid black;
    margin-top: 5%;
    margin-left: 30%;
    width: 500px;
    height: 500px;
    margin-bottom: 10%;
    background-color: white;
}

#two{
    display:grid;
    grid-template-columns: repeat(3,auto);
    border: 1px solid black; 
    text-align: center;
    font-size: 100px;
    
}

#btn{

    margin-top: 0px;
    margin-left: 40%;
    background-color: green;
    border-radius: 10px;
    font-size: 20px;
    
    
}

#btn:hover{
    width: 70px;
    
    font-weight: bolder;
    color:chartreuse;


}

#btntwo{
    margin-top: 0px;
    margin-right: 0px;
    background-color: tomato;
    border-radius: 10px;
    font-size: 20px;
}

#btntwo:hover{
    
    width: 90px;
    font-weight: bolder;
    color:chartreuse;

    

}

#three{
    border: 1px solid black;
    font-size: large;
   
}

#four{
     display: inline;
     color: black;
     
}

#five{
    display: inline;
    
}
#six{
    display: block;
    margin-left: 44%;
    color: maroon;

}

#six:hover{
    
     color:chartreuse;
}


#reset{

    background-color: cyan;
    font-size: 20px;
    border-radius: 10px;
}





